<section data-ng-controller="HomeController">

	<section id="banner">
	  <div class="container text-center" style="padding-bottom: 50px">
	    <img src="img/daycamp.png" alt="Day Camp" style="max-width: 60%; padding-top: 70px">
	    <h2 class="loversgray" style="padding-top: 50px">Welcome to Day Camp!</h1>
	    <h3 class="lead loversgray">Day Camp is an after school program run by Community Development Services.</h3>
	  </div>
	</section>
	<section>
	<!--
		<div class="container">
			<h3 class="text-center">Here is information about Day Camp and Community Development Services</h3>
			<h5 style="margin-top: 10px; text-align: justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
			<h5 style="margin-top: 10px; text-align: justify">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</h5>
		</div>
		-->
	</section>


	


	<!-- TODO:  Fix Alignment on this section 

	<section id="thumbsection">
		<div class="container text-center" style="padding-top: 70px">
		<h2 style="color: #ffffff">See what our happy customers have to say!</h2>
		</div>
		<div class="container" id="thumbnailrow">
			<div class="row">
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<img src="modules/core/img/happyGuy.png" alt="...">
						<div class="caption">
							<h3 class="loversgray">Label One</h3>
							<p class="loversgray">Text having to do with Label One and the thumbnail</p>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<img src="modules/core/img/happyGuy.png" alt="...">
						<div class="caption">
							<h3 class="loversgray">Label Two</h3>
							<p class="loversgray">Text having to do with Label Two and the thumbnail</p>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<img src="modules/core/img/happyGuy.png" alt="...">
						<div class="caption">
							<h3 class="loversgray">Label Three</h3>
							<p class="loversgray">Text having to do with Label Three and the thumbnail</p>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<img src="modules/core/img/happyGuy.png" alt="...">
						<div class="caption">
							<h3 class="loversgray">Label Four</h3>
							<p class="loversgray">Text having to do with Label Four and the thumbnail</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
-->
</section>
