<section data-ng-controller="HomeController">
	
	<header id="banner">
	  <div class="container text-center">
	    <!-- <img src="modules/core/img/DayCamp.png" alt="Day Camp"> -->
	    <h1>DayCamp</h1>
	    <h2>Welcome to Day Camp!</h1>
	    <h3 class="lead">Day Camp is an after school program run by Community Development Services.  
	    <br>TODO:  Add in any other information Kaitlin would like included here.</h3>
	  </div>
	</header>

	<!-- TODO:  Fix Alignment on this section -->

	<div class="container" style="margin-top: 20px">
		<div class="row">
			<div class="col-xs-6 col-md-3">
				<div class="thumbnail">
					<img src="modules/core/img/happyGuy.png" alt="...">
					<div class="caption">
						<h3>Label One</h3>
						<p>Text having to do with Label One and the thumbnail</p>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="thumbnail">
					<img src="modules/core/img/happyGuy.png" alt="...">
					<div class="caption">
						<h3>Label Two</h3>
						<p>Text having to do with Label Two and the thumbnail</p>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="thumbnail">
					<img src="modules/core/img/happyGuy.png" alt="...">
					<div class="caption">
						<h3>Label Three</h3>
						<p>Text having to do with Label Three and the thumbnail</p>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="thumbnail">
					<img src="modules/core/img/happyGuy.png" alt="...">
					<div class="caption">
						<h3>Label Four</h3>
						<p>Text having to do with Label Four and the thumbnail</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
