<!-- TODO:  Style this page -->

<section data-ng-controller="UsersController" data-ng-init="findOneUser()">
	<div class="container" ng-show="isLoggedIn()" style="margin-top: 15px">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Thanks for signing up for DayCamp!</h1>
				<h2>Here is some information that you're going to want to take note of :</h2>
				<h4 class="text-muted">Hint: feel free to take a picture. It can help you recall this information at any time!</h4>
				<p class = "userp2"><strong>{{currentuser.firstName}} {{currentuser.lastName}}</strong></p>
				<p class="userp2">PIN:  {{currentuser.PIN}}</p>
				<p class="userp2">Username:  {{currentuser.username}}</p>
				<p class="userp2">Email:  {{currentuser.email}}</p>
				<p class="userp2">Phone:  {{currentuser.phone}}</p>
				<h4 style="margin-top: 10px">Now that you've got your account set up and your important info noted, <br>let's go ahead and add your children into our records</h4>
				<h5><a class="btn btn-primary btn-md" href="#!/children/create" style="font-size:24px; margin-top: 10px">Add a Child</a> </h5>
			</div>
		</div>
	</div>

	<div class="container" ng-show="!isLoggedIn()" style="margin-top: 30px">
		<div class="row">
			<div class="col-md-12">
				<h4 class="text-center text-danger">Looks like you're in the wrong place, friend</h4>
				<h4 class="text-center text-danger">Please click <a href="/">here</a> to go home</h4>
			</div>
		</div>
	</div>
</section>