.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
	display: block;
}

/* ==============================
Custom CSS
============================== */

#banner{
	background-color: #eeeeee;
	width: 100vw;
	position: relative;
	left: calc(-50vw + 50%);
}

#thumbsection{
	background-color: #00b4ff;
	width: 100vw;
	position: relative;
	left: calc(-50vw + 50%);
}

.loversgray{
	color: #515151;
}

/* Thumbnail responive fixer upper */

@media (min-width: 768px){
	#thumbnailrow{
		 padding: 30px 30px 70px 0px;
	}
}

@media (max-width: 767px){
	#thumbnailrow{
		 padding: 30px 0px 70px 0px;
	}
}
