<section data-ng-controller="UsersController" data-ng-init="">
	<div class="container" ng-show="!loggedInIsAdmin()">
		You are not an admin, go away loser!
	</div>
	<div class="container" ng-show="loggedInIsAdmin()">
		<h3>Manage Users Dashboard</h3>
		<!-- 	TODO:	Add in a filter/sort by type thing to view clients and admins seperately
				TODO:	also seperate active and inactive users-->
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="user in users | orderBy: 'roles[0]'">
				<div class="row">
					<div class="col-xs-6 col-md-6">
						<p><strong>{{user.firstName}} {{user.lastName}}</strong></p>
						<p class="userp">Account Type:  {{user.roles[0]}}</p>
						<p class="userp">PIN:  {{user.PIN}}</p>
						<p class="userp">Email:  {{user.email}}</p>
						<p class="userp">Phone:  {{user.phone}}</p>
					</div>
					<div class="col-xs-6 col-md-6">
						<div ng-show="isAdmin(user)" style="color:blue"><img src="modules/users/img/plus-sign1.svg" alt="admin" style="width: 30px"> Demote Admin to User</div>
						<div ng-show="!isAdmin(user)" style="color:blue"><img src="modules/users/img/administrator1.svg" alt="admin" style="width: 30px"> Promote User to Admin</div>
						<div ng-show="!isCurrentUser(user)" style="color:red"><img src="modules/users/img/delete96.svg" alt="admin" style="width: 30px"> Delete User</div>
						<a ng-show="!isAdmin(user)" ng-click="test(user)" class="plus" title="Make Admin"><img src="modules/users/img/administrator1.svg" alt="admin" style="width: 30px"> Promote User to Admin</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>