<section data-ng-controller="UsersController" data-ng-init="findAllUsers(); findAllChildren(); seedOrderBy(); determineBillingMode()">
	<!-- TODO:  change btn-lg to btn-md across all -->
	<div class="container" ng-show="!loggedInIsAdmin() && !loggedInIsEmployee()">
		<h3 class="text-center text-danger"><strong>You do not have access to this page!</strong></h3>
		<h3 class="text-center text-danger"><strong>Please click <a href="/#!/">here</a> to go home</strong></h3>
	</div>
	<tabset style="margin-top: 20px" ng-show="loggedInIsAdmin() || loggedInIsEmployee()">
    	<tab heading="Manage Users">
	    		<div class="container">
	    		<div class="row">
	    			<div class="col-xs-12 col-sm-6 col-md-6">
						<h3>Manage Users Dashboard</h3>
					</div>
					<div class="col-xs-12 col-md-6 sortByBar">
						<span>Sort Users by:  </span>
						<a href="" ng-click="setOrderByUsers('lastName')">Last Name</a><span> | </span>
						<a href="" ng-click="setOrderByUsers('roles')">Account Type</a><span> | </span>
						<a href="" ng-click="setOrderByUsers('-active')">Active Users</a>
					</div>
				</div>
				<div style="margin-top: 10px">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="user in users | orderBy: orderByUsers">
							<div class="row">
								<div class="col-xs-12 col-md-6 col-sm-6">
									<h4>
										<a data-ng-href="#!/users/{{user._id}}">
											{{user.firstName}} {{user.lastName}}
											<!--<span ng-show="!isActive(user)" class="text-muted"> - Inactive User</span>-->
										</a>
									</h4>
									<p class="userp" ng-show="isEmployee(user)" style="color: red"><strong>Employee Account</strong></p>
									<p class="userp" ng-show="isAdmin(user)" style="color: red"><strong>Admin Account</strong></p>
									<p class="userp">PIN:  {{user.PIN}}</p>
									<p class="userp">Username:  {{user.username}}</p>
									<p class="userp">Email:  {{user.email}}</p>
									<p class="userp">Phone:  {{user.phone}}</p>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-3" ng-show="loggedInIsAdmin()">
									<a data-ng-href="#!/users/{{user._id}}/edit" class="btn btn-info userbut btn-lg">Edit User</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</tab>
    	<tab heading="Manage Children">
    		<div class="container">
				<div class="row">
	    			<div class="col-xs-12 col-sm-6 col-md-6">
						<h3>Manage Children Dashboard</h3>
					</div>
					<div class="col-xs-12 col-md-6 col-sm-6 sortByBar">
						<span>Sort Children by:  </span>
						<a href="" ng-click="setOrderByChildren('lastName')">Last Name (A-Z)</a>
						<span> | </span>
						<a href="" ng-click="setOrderByChildren('-isPunchedIn')">Checked In</a>
					</div>
				</div>
				<ul class="list-group" style="margin-top: 10px">
					<li class="list-group-item" ng-repeat="child in children | filter: {rootChild: 'false'}| orderBy: orderByChildren">
						<div class="row">
							<div class="col-xs-12 col-md-6 col-sm-6">
								<h4>
									<a data-ng-href="#!/children/{{child._id}}">
										{{child.firstName}} {{child.lastName}}
										<!--<span ng-show="!parentIsActive(child)" class="text-muted"> - Inactive Parent</span>-->
									</a>
								</h4>
								<p class="userp" ng-show="isPunchedIn(child)" style="color: red"><strong>Checked In</strong></p>
								<p class="userp">DOB:  {{child.dob | date: 'mediumDate'}}</p>
								<p class="userp">Parent:  {{child.parentFirstName}} {{child.parentLastName}}</p>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3" ng-show="loggedInIsAdmin()">
								<a data-ng-href="#!/children/{{child._id}}/edit" class="btn childbut btn-info btn-lg">Edit Child</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
    	</tab>
    	<tab heading="Manage Payment Plans">
    		<div class="col-xs-12 col-sm-12 col-md-12">
	    		<h3>Payment Plan Dashboard<h3>
	    		<div id="paymentDiv">
		    		<h4 ng-show="dayCampMode" style="padding: 10px 0px 10px 15px">The website is currently using the DayCamp Pricing Model</h4>
		    		<h4 ng-hide="dayCampMode" style="padding: 10px 0px 10px 15px">The website is currently using the Latch Key Pricing Model</h4>
		    		<button ng-hide="dayCampMode" ng-click="setToDayCamp()" style="margin: 0px 0px 20px 15px; font-size: 14px" class="btn btn-info btn-md">Set to Day Camp Billing</button>
		    		<button ng-show="dayCampMode" ng-click="setToLatchKey()" style="margin: 0px 0px 20px 15px; font-size: 14px" class="btn btn-info btn-md">Set to Latch Key Billing</button>
		    	</div>
	    	</div>
    	</tab>
    </tabset>
</section>