<section data-ng-controller="UsersController" data-ng-init="findOneUser()">
	<div class="container" ng-show="!loggedInIsAdmin()">
		<h3 class="text-center text-danger"><strong>You do not have access to this page!</strong></h3>
		<h3 class="text-center text-danger"><strong>Please click <a href="/#!/">here</a> to go home</strong></h3>
	</div>
<!--  TODO:  Style this page -->
	<div class="container" ng-show="loggedInIsAdmin()">
		<div class="row">
			<div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 text-left">
				<h3>{{::user.firstName}} {{::user.lastName}}'s Account 
				<!--<span ng-show="!isActive(user)" class="text-muted"> - Inactive User</span>-->
				</h3>
				<p class="userp" ng-show="isEmployee(user)" style="color: red"><strong>Employee Account</strong></p>
				<p class="userp" ng-show="isAdmin(user)" style="color: red"><strong>Admin Account</strong></p>
				<p class="userp">PIN:  {{::user.PIN}}</p>
				<p class="userp">Email:  {{::user.email}}</p>
				<p class="userp">Phone:  {{::user.phone}}</p>
			</div>
			<div class="col-sm-6 col-md-6" style="margin-top: 0px">
				<h3>Quick Editing</h3>
				<ul style="list-style-type: none; padding-left: 0px">
				<!--
					<li ng-show="!isActive(user)" class="editUserList">
						<a ng-show="!isActive(user)" ng-click="activateUser()" class="userOp" title="Make Active"><img src="modules/users/img/checked21.svg" alt="checked" style="width: 30px"> Reactivate User</a>
					</li>
					<li ng-show="isActive(user)" class="editUserList">
						<a ng-show="isActive(user)" ng-click="deactivateUser()" class="userOp" title="Make Inactive"><img src="modules/users/img/forbidden15.svg" alt="x'ed" style="width: 30px"> Deactivate User</a>
					</li>
				-->
					<!-- User Account -->
					<li ng-show="!isEmployee(user) && !isAdmin(user)" class="editUserList">
						<a ng-click="makeUserEmployee()" class="userOp" title="Make Employee"><img src="modules/users/img/administrator1.svg" alt="admin" style="width: 30px"> Promote User to Employee</a>
					</li>
					<li ng-show="!isEmployee(user) && !isAdmin(user)" class="editUserList">
						<a ng-click="makeUserAdmin()" class="userOp" title="Make Employee"><img src="modules/users/img/shields21.svg" alt="admin" style="width: 30px"> Promote User to Admin</a>
					</li>
					<!-- Employee Account -->
					<li ng-show="isEmployee(user) && !isAdmin(user)" class="editUserList">
						<a ng-click="makeUserAdmin()" class="userOp" title="Demote Employee"><img src="modules/users/img/shields21.svg" alt="admin" style="width: 30px"> Promote Employee to Admin</a>
					</li>
					<li ng-show="isEmployee(user)" class="editUserList">
						<a ng-click="makeAdminUser()" class="userOp" title="Demote Employee"><img src="modules/users/img/administrator1.svg" alt="admin" style="width: 30px"> Demote Employee to User</a>
					</li>
					<!-- Admin Account -->
					<li ng-show="isAdmin(user)" class="editUserList">
						<a ng-click="makeUserEmployee()" class="userOp" title="Make Admin"><img src="modules/users/img/administrator1.svg" alt="admin" style="width: 30px"> Demote Admin to Employee</a>
					</li>
					<li ng-show="isAdmin(user)" class="editUserList">
						<a ng-click="makeAdminUser()" class="userOp" title="Make User"><img src="modules/users/img/plus-sign1.svg" alt="admin" style="width: 30px"> Demote Admin to User</a>
					</li>
					<!--
					<li ng-show="!isCurrentUser(user)" class="editUserList">
						<div ng-show="!isCurrentUser(user)" style="color:red"><img src="modules/users/img/delete96.svg" alt="admin" style="width: 30px"> Delete User</div>
					</li>
					-->
				</ul>
			</div>
		</div>
		<!-- User Editing -->
		<div class="row" style="margin-top: 30px">
			<div class="col-md-offset-1 col-md-4 col-sm-4 col-sm-offset-1">
				<form name="userForm1" data-ng-submit="updateGeneralInfo(userForm1.$valid)" class="signin form-horizontal" autocomplete="off">
					<fieldset>
						<div class="form-group">
							<label for="firstName">First Name</label>
							<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" ng-model-options="{ updateOn: 'blur' }" placeholder="First Name">
						</div>
						<div class="form-group marginEdit">
							<label for="lastName">Last Name</label>
							<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" ng-model-options="{ updateOn: 'blur' }" placeholder="Last Name">
						</div>
						<div class="form-group marginEdit">
							<label for="phone">Phone Number</label>
							<input type="text" id="phone" name="phone" class="form-control" data-ng-model="user.phone" ng-model-options="{ updateOn: 'blur' }" placeholder="Phone Number">
						</div>
						<div class="text-center form-group">
							<button type="submit" class="btn btn-large btn-primary">Save Profile</button>
						</div>
						<div data-ng-show="success1" class="text-center text-success">
							<strong>Profile Saved Successfully</strong>
						</div>
						<div data-ng-show="error1" class="text-center text-danger">
							<strong data-ng-bind="error"></strong><br>
						</div>
					</fieldset>
				</form>
			</div>

			<div class="col-md-offset-1 col-md-4 col-sm-4 col-sm-offset-1">
				<!-- Username Editing -->
				<form name="userForm2" data-ng-submit="updateUsername(userForm2.$valid)" class="signin form-horizontal" autocomplete="off">
					<fieldset>
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" ng-model-options="{ updateOn: 'blur' }" placeholder="Username">
						</div>
						<div class="text-center form-group">
							<button type="submit" class="btn btn-large btn-primary">Save Username</button>
						</div>
						<div data-ng-show="success2" class="text-center text-success">
							<strong>Profile Saved Successfully</strong>
						</div>
						<div data-ng-show="error2" class="text-center text-danger">
							<strong>This username is already in use</strong><br>
						</div>
					</fieldset>
				</form>
				<!-- Email Editing -->
				<form name="userForm3" data-ng-submit="updateEmail(userForm3.$valid)" class="signin form-horizontal" autocomplete="off">
					<fieldset>
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" ng-model-options="{ updateOn: 'blur' }" placeholder="Email">
						</div>
						<div class="text-center form-group">
							<button type="submit" class="btn btn-large btn-primary">Save Email</button>
						</div>
						<div data-ng-show="success3" class="text-center text-success">
							<strong>Profile Saved Successfully</strong>
						</div>
						<div data-ng-show="error3" class="text-center text-danger">
							<strong>This email is already in use</strong><br>
						</div>
					</fieldset>
				</form>
				<!-- Email Editing -->
				<form name="userForm4" data-ng-submit="updatePIN(userForm4.$valid)" class="signin form-horizontal" autocomplete="off">
					<fieldset>
						<div class="form-group">
							<label for="PIN">PIN</label>
							<input type="text" id="PIN" name="PIN" class="form-control" data-ng-model="user.PIN" ng-model-options="{ updateOn: 'default' }" placeholder="PIN" ng-pattern="/^[0-9]{4,4}$/">
						</div>
						<div class="text-center form-group">
							<button type="submit" class="btn btn-large btn-primary">Save PIN</button>
						</div>
						<div role="alert" class="text-center">
							<span class="text-danger" ng-show="userForm4.PIN.$error.pattern"><strong>PIN must be Four numbers</strong></span>
						</div>
						<div data-ng-show="success4" class="text-center text-success">
							<strong>Profile Saved Successfully</strong>
						</div>
						<div data-ng-show="error4" class="text-center text-danger">
							<strong>This PIN is already in use</strong><br>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</section>