<section data-ng-controller="ChildrenController" data-ng-init="findUsersChildren()">
	<!-- TODO:  Style this page its awful -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 style="">{{newestChild.firstName}} {{newestChild.lastName}} was added to your account!</h1>
				<!-- TODO:  Put here the child first and last name, dob, etc, so they can see all the info is right -->
				<h3 style="">Would you like to add another child?</h3>
				<div class="row" style="margin-left: 0px">
					<a href='#!/children/create'><button type="button" class="btn btn-primary btn-md">Yes</button></a>
					<a href='#!/'><button type="button" class="btn btn-primary btn-md">No</button></a>
				</div>
			</div>
		</div>
	</div>
</section>