<section data-ng-controller="ChildrenController">
	<!-- TODO:  Style this page its awful -->
	<!-- TODO:  Once we figure out saving users, when a child is added, push the first name into an array that 
	holds the children in the user model.  Then in this screen take the most recent push into the user's
	children array and use that as the display name -->
	<h1>_________ was added to your account!</h1>
	<!-- TODO:  Put here the child first and last name, dob, etc, so they can see all the info is right -->
	<h3>Would you like to add another child?</h3>
	<a href='#!/children/create'><button type="button" class="btn btn-default btn-md">Yes</button></a>
	<a href='/'><button type="button" class="btn btn-default btn-md">No</button></a>

</section>