<section data-ng-controller="ChildrenController">
    <div class="page-header">
        <h2>You're Almost Done!</h2>
        <h3>All that's left is adding your child(ren) to your account.</h3>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="firstName">Child's First Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="firstName" id="firstName" class="form-control" placeholder="First Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName">Child's Last Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="lastName" id="lastName" class="form-control" placeholder="Last Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="dob">Child's Date of Birth</label>
                    <div class="controls">
                        <input type="date" data-ng-model="dob" id="dob" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>