<section data-ng-controller="ChildrenController" data-ng-init="findOne(); fixDate()">
    <div class="row" style="margin-top: 30px">
        <div class="col-md-12">
            <h3>Edit Child</h3>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-left: 15px">
            <form name="childForm" data-ng-submit="updateChild(childForm.$valid)" class="signin form-horizontal" autocomplete="off">
                <fieldset>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="child.firstName" ng-model-options="{ updateOn: 'blur' }" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="child.lastName" ng-model-options="{ updateOn: 'blur' }" placeholder="Last Name">
                    </div>
                    <!-- Seems date is in ISO format, look here for how to work with it
http://stackoverflow.com/questions/11486779/formatting-isodate-from-mongodb
                     -->
                    <div class="form-group">
                        <label for="dob">Date of Birth</label>
                        <input type="date" id="dob" name="dob" class="form-control" data-ng-model="child.dob" ng-model-options="{ updateOn: 'blur' }" placeholder="Date of Birth">
                    </div>
                    <div class="text-center form-group">
                        <button type="submit" class="btn btn-lg btn-primary">Update</button>
                    </div>
                    <div data-ng-show="success" class="text-center text-success">
                        <strong>Child Saved Successfully</strong>
                    </div>
                    <div data-ng-show="error" class="text-center text-danger">
                        <strong data-ng-bind="error"></strong><br>
                    </div>
                </fieldset>
            </form>
        </div>
        
    </div>
</section>