<section data-ng-controller="ChildrenController" data-ng-init="findOne()">
	<div class="container" ng-show="!authorizedToViewChild()">
		<h3 class="text-center text-danger"><strong>You do not have access to this page!</strong></h3>
		<h3 class="text-center text-danger"><strong>Please click <a href="/">here</a> to go home</strong></h3>
	</div>	
	<div class="page-header" ng-show="authorizedToViewChild()">
		<h3>{{child.firstName}} {{child.lastName}}</h3>
		<a class="btn btn-primary" href="/#!/children/{{child._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();" ng-show="loggedInIsAdmin()">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>