<section data-ng-controller="ChildrenController" data-ng-init="findOne(); seedWeekView(); buildTimes()">
	<div class="container" ng-show="!authorizedToViewChild()">
		<h3 class="text-center text-danger"><strong>You do not have access to this page!</strong></h3>
		<h3 class="text-center text-danger"><strong>Please click <a href="/">here</a> to go home</strong></h3>
	</div>	
	<div class="row" style="margin-top: 20px">
		<div class="col-xs-12 col-md-6">
			<h4>
				{{child.firstName}} {{child.lastName}}
			</h4>
			<p class="userp" ng-show="isPunchedIn(child)" style="color: red"><strong>Checked In</strong></p>
			<p class="userp">DOB:  {{child.dob | date: 'mediumDate'}}</p>
			<p class="userp">Parent:  {{child.parentFirstName}} {{child.parentLastName}}</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<a data-ng-href="#!/children/{{child._id}}/edit" class="btn btn-default btn-md" style="margin-top: 5px">Click Here to Edit this Child</a>
		</div>
	</div>
	<div style="margin-top: 20px; width: 320px">
		<span ng-show="loggedInIsAdmin()" class="text-muted">Note:  Click an entry to edit that day's times</span>
		<div class="row" style="padding-left: 15px">
			<div class="col-xs-1 col-sm-1 col-md-1 arrowBox" style="padding: 0px; width: 32px; height: 32px" ng-click="backOneWeek()">
				<img src="modules/children/img/play128.svg" id="leftarrow">
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 weekbar">
					Week of {{weekOfDate | date: 'MM/dd/yy'}}
			</div>
			<div class="col-xs-1 col-sm-1 col-md-1 arrowBox" style="padding: 0px; width: 32px; height: 32px" ng-click="forwardOneWeek()">
				<img src="modules/children/img/play128.svg" id="rightarrow">
			</div>
		</div>
		<div class="row" style="padding-left: 15px">
			<div class="col-xs-2 col-sm-2 col-md-2 dateBoxDiv">
				<span class="dateBoxSpan">
					Mon<br>
					{{monDate | date: 'MM/dd'}}
				</span>	
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 dayBarDiv" ng-show="!loggedInIsAdmin()">
				<span class="dayBarSpan">
					<strong>In:</strong>  {{monIn | date: 'hh:mm:ss a'}}  <strong>Out:</strong>  {{monOut | date: 'hh:mm:ss a'}}<br>
					Total:  {{monTotal | millSecondsToTimeString}} 
				</span>
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 dayBarDiv adminDayBarDiv" ng-hide="monEdit || !loggedInIsAdmin()" ng-click="editMonday()">
				<span class="dayBarSpan">
					<strong>In:</strong>  {{monIn | date: 'hh:mm:ss a'}}  <strong>Out:</strong>  {{monOut | date: 'hh:mm:ss a'}}<br>
					Total:  {{monTotal | millSecondsToTimeString}} 
				</span>
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 dayBarDivEditing" ng-show="monEdit">
				<form name="editMondayForm" data-ng-submit="editMondayTimes(editMondayForm.$valid)">
					<fieldset>
						<div class="row" style="padding-left: 15px">
							<div class="pull-left editDiv">
								<span class="shiftUpTen">In:</span><input required type="time" name="monTimeIn" class="form-control timePicker shiftUpTen" ng-model="monTimeIn" placeholder="HH:mm:ss" style="margin-left: 15px">
							</div>
							<button type="submit" class="btn btn-xs btn-default shiftUpTen" style="top: -12px">Update</button>
						</div>
						<div class="row" style="padding-left: 15px">
							<div class="pull-left editDiv">
								<span class="shiftUpX">Out: </span><input required type="time" name="monTimeOut" class="form-control timePicker shiftUpX" ng-model="monTimeOut" placeholder="HH:mm:ss">
							</div>
							<button type="button" class="btn btn-xs btn-danger shiftUpX" ng-click="cancelEditMonday()" style="top: -39px">Cancel</button>
						</div>
					</fieldset>
				</form>
			</div>
			<div data-ng-show="error1" class="text-center text-danger responseDiv">
				<strong data-ng-bind="error1" class="responseMsg"></strong>
			</div>
			<div data-ng-show="success1" class="text-center text-success responseDiv">
				<strong data-ng-bind="success1" class="responseMsg"></strong>
			</div>
		</div>
		<div class="row" style="padding-left: 15px">
			<div class="col-xs-2 col-sm-2 col-md-2 dateBoxDiv">
				<span class="dateBoxSpan">
					Tue<br>
					{{tueDate | date: 'MM/dd'}}
				</span>	
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 dayBarDiv" ng-show="!loggedInIsAdmin()">
				<span class="dayBarSpan">
					<strong>In:</strong>  {{tueIn | date: 'hh:mm:ss a'}}  <strong>Out:</strong>  {{tueOut | date: 'hh:mm:ss a'}}<br>
					Total:  {{tueTotal | millSecondsToTimeString}} 
				</span>
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 dayBarDiv adminDayBarDiv" ng-hide="tueEdit || !loggedInIsAdmin()" ng-click="editTuesday()">
				<span class="dayBarSpan">
					<strong>In:</strong>  {{tueIn | date: 'hh:mm:ss a'}}  <strong>Out:</strong>  {{tueOut | date: 'hh:mm:ss a'}}<br>
					Total:  {{tueTotal | millSecondsToTimeString}} 
				</span>
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 dayBarDivEditing" ng-show="tueEdit">
				<form name="editTuesdayForm" data-ng-submit="editTuesdayTimes(editTuesdayForm.$valid)">
					<fieldset>
						<div class="row" style="padding-left: 15px">
							<div class="pull-left editDiv">
								<span class="shiftUpTen">In:</span><input required type="time" name="tueTimeIn" class="form-control timePicker shiftUpTen" ng-model="tueTimeIn" placeholder="HH:mm:ss" style="margin-left: 15px">
							</div>
							<button type="submit" class="btn btn-xs btn-default shiftUpTen" style="top: -12px">Update</button>
						</div>
						<div class="row" style="padding-left: 15px">
							<div class="pull-left editDiv">
								<span class="shiftUpX">Out: </span><input required type="time" name="tueTimeOut" class="form-control timePicker shiftUpX" ng-model="tueTimeOut" placeholder="HH:mm:ss">
							</div>
							<button type="button" class="btn btn-xs btn-danger shiftUpX" ng-click="cancelEditTuesday()" style="top: -39px">Cancel</button>
						</div>
					</fieldset>
				</form>
			</div>
			<div data-ng-show="error2" class="text-center text-danger responseDiv">
				<strong data-ng-bind="error2" class="responseMsg"></strong>
			</div>
			<div data-ng-show="success2" class="text-center text-success responseDiv">
				<strong data-ng-bind="success2" class="responseMsg"></strong>
			</div>
		</div>
		<div class="row" style="padding-left: 15px">
			<div class="col-xs-2 col-sm-2 col-md-2 dateBoxDiv">
				<span class="dateBoxSpan">
					Wed<br>
					{{wedDate | date: 'MM/dd'}}
				</span>	
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 dayBarDiv" ng-show="!loggedInIsAdmin()">
				<span class="dayBarSpan">
					<strong>In:</strong>  {{wedIn | date: 'hh:mm:ss a'}}  <strong>Out:</strong>  {{wedOut | date: 'hh:mm:ss a'}}<br>
					Total:  {{wedTotal | millSecondsToTimeString}} 
				</span>
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 dayBarDiv adminDayBarDiv" ng-hide="wedEdit || !loggedInIsAdmin()" ng-click="editWednesday()">
				<span class="dayBarSpan">
					<strong>In:</strong>  {{wedIn | date: 'hh:mm:ss a'}}  <strong>Out:</strong>  {{wedOut | date: 'hh:mm:ss a'}}<br>
					Total:  {{wedTotal | millSecondsToTimeString}} 
				</span>
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 dayBarDivEditing" ng-show="wedEdit">
				<form name="editWednesdayForm" data-ng-submit="editWednesdayTimes(editWednesdayForm.$valid)">
					<fieldset>
						<div class="row" style="padding-left: 15px">
							<div class="pull-left editDiv">
								<span class="shiftUpTen">In:</span><input required type="time" name="wedTimeIn" class="form-control timePicker shiftUpTen" ng-model="wedTimeIn" placeholder="HH:mm:ss" style="margin-left: 15px">
							</div>
							<button type="submit" class="btn btn-xs btn-default shiftUpTen" style="top: -12px">Update</button>
						</div>
						<div class="row" style="padding-left: 15px">
							<div class="pull-left editDiv">
								<span class="shiftUpX">Out: </span><input required type="time" name="wedTimeOut" class="form-control timePicker shiftUpX" ng-model="wedTimeOut" placeholder="HH:mm:ss">
							</div>
							<button type="button" class="btn btn-xs btn-danger shiftUpX" ng-click="cancelEditWednesday()" style="top: -39px">Cancel</button>
						</div>
					</fieldset>
				</form>
			</div>
			<div data-ng-show="error3" class="text-center text-danger responseDiv">
				<strong data-ng-bind="error3" class="responseMsg"></strong>
			</div>
			<div data-ng-show="success3" class="text-center text-success responseDiv">
				<strong data-ng-bind="success3" class="responseMsg"></strong>
			</div>
		</div>
		<div class="row" style="padding-left: 15px">
			<div class="col-xs-2 col-sm-2 col-md-2 dateBoxDiv">
				<span class="dateBoxSpan">
					Thu<br>
					{{thuDate | date: 'MM/dd'}}
				</span>	
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 dayBarDiv" ng-show="!loggedInIsAdmin()">
				<span class="dayBarSpan">
					<strong>In:</strong>  {{thuIn | date: 'hh:mm:ss a'}}  <strong>Out:</strong>  {{thuOut | date: 'hh:mm:ss a'}}<br>
					Total:  {{thuTotal | millSecondsToTimeString}} 
				</span>
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 dayBarDiv adminDayBarDiv" ng-hide="thuEdit || !loggedInIsAdmin()" ng-click="editThursday()">
				<span class="dayBarSpan">
					<strong>In:</strong>  {{thuIn | date: 'hh:mm:ss a'}}  <strong>Out:</strong>  {{thuOut | date: 'hh:mm:ss a'}}<br>
					Total:  {{thuTotal | millSecondsToTimeString}} 
				</span>
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 dayBarDivEditing" ng-show="thuEdit">
				<form name="editThursdayForm" data-ng-submit="editThursdayTimes(editThursdayForm.$valid)">
					<fieldset>
						<div class="row" style="padding-left: 15px">
							<div class="pull-left editDiv">
								<span class="shiftUpTen">In:</span><input required type="time" name="thuTimeIn" class="form-control timePicker shiftUpTen" ng-model="thuTimeIn" placeholder="HH:mm:ss" style="margin-left: 15px">
							</div>
							<button type="submit" class="btn btn-xs btn-default shiftUpTen" style="top: -12px">Update</button>
						</div>
						<div class="row" style="padding-left: 15px">
							<div class="pull-left editDiv">
								<span class="shiftUpX">Out: </span><input required type="time" name="thuTimeOut" class="form-control timePicker shiftUpX" ng-model="thuTimeOut" placeholder="HH:mm:ss">
							</div>
							<button type="button" class="btn btn-xs btn-danger shiftUpX" ng-click="cancelEditThursday()" style="top: -39px">Cancel</button>
						</div>
					</fieldset>
				</form>
			</div>
			<div data-ng-show="error4" class="text-center text-danger responseDiv">
				<strong data-ng-bind="error4" class="responseMsg"></strong>
			</div>
			<div data-ng-show="success4" class="text-center text-success responseDiv">
				<strong data-ng-bind="success4" class="responseMsg"></strong>
			</div>
		</div>
		<div class="row" style="padding-left: 15px">
			<div class="col-xs-2 col-sm-2 col-md-2 dateBoxDiv">
				<span class="dateBoxSpan">
					Fri<br>
					{{friDate | date: 'MM/dd'}}
				</span>	
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 dayBarDiv" ng-show="!loggedInIsAdmin()">
				<span class="dayBarSpan">
					<strong>In:</strong>  {{friIn | date: 'hh:mm:ss a'}}  <strong>Out:</strong>  {{friOut | date: 'hh:mm:ss a'}}<br>
					Total:  {{friTotal | millSecondsToTimeString}} 
				</span>
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 dayBarDiv adminDayBarDiv" ng-hide="friEdit || !loggedInIsAdmin()" ng-click="editFriday()">
				<span class="dayBarSpan">
					<strong>In:</strong>  {{friIn | date: 'hh:mm:ss a'}}  <strong>Out:</strong>  {{friOut | date: 'hh:mm:ss a'}}<br>
					Total:  {{friTotal | millSecondsToTimeString}} 
				</span>
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 dayBarDivEditing" ng-show="friEdit">
				<form name="editFridayForm" data-ng-submit="editFridayTimes(editFridayForm.$valid)">
					<fieldset>
						<div class="row" style="padding-left: 15px">
							<div class="pull-left editDiv">
								<span class="shiftUpTen">In:</span><input required type="time" name="friTimeIn" class="form-control timePicker shiftUpTen" ng-model="friTimeIn" placeholder="HH:mm:ss" style="margin-left: 15px">
							</div>
							<button type="submit" class="btn btn-xs btn-default shiftUpTen" style="top: -12px">Update</button>
						</div>
						<div class="row" style="padding-left: 15px">
							<div class="pull-left editDiv">
								<span class="shiftUpX">Out: </span><input required type="time" name="friTimeOut" class="form-control timePicker shiftUpX" ng-model="friTimeOut" placeholder="HH:mm:ss">
							</div>
							<button type="button" class="btn btn-xs btn-danger shiftUpX" ng-click="cancelEditFriday()" style="top: -39px">Cancel</button>
						</div>
					</fieldset>
				</form>
			</div>
			<div data-ng-show="error5" class="text-center text-danger responseDiv">
				<strong data-ng-bind="error5" class="responseMsg"></strong>
			</div>
			<div data-ng-show="success5" class="text-center text-success responseDiv">
				<strong data-ng-bind="success5" class="responseMsg"></strong>
			</div>
		</div>
		<div class="row" style="padding-left: 15px">
			<div class="col-xs-2 col-sm-2 col-md-2 dateBoxDiv">
				<span class="dateBoxSpan">
					Sat<br>
					{{satDate | date: 'MM/dd'}}
				</span>	
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 dayBarDiv" ng-show="!loggedInIsAdmin()">
				<span class="dayBarSpan">
					<strong>In:</strong>  {{satIn | date: 'hh:mm:ss a'}}  <strong>Out:</strong>  {{satOut | date: 'hh:mm:ss a'}}<br>
					Total:  {{satTotal | millSecondsToTimeString}} 
				</span>
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 dayBarDiv adminDayBarDiv" ng-hide="satEdit || !loggedInIsAdmin()" ng-click="editSaturday()">
				<span class="dayBarSpan">
					<strong>In:</strong>  {{satIn | date: 'hh:mm:ss a'}}  <strong>Out:</strong>  {{satOut | date: 'hh:mm:ss a'}}<br>
					Total:  {{satTotal | millSecondsToTimeString}} 
				</span>
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 dayBarDivEditing" ng-show="satEdit">
				<form name="editSaturdayForm" data-ng-submit="editSaturdayTimes(editSaturdayForm.$valid)">
					<fieldset>
						<div class="row" style="padding-left: 15px">
							<div class="pull-left editDiv">
								<span class="shiftUpTen">In:</span><input required type="time" name="satTimeIn" class="form-control timePicker shiftUpTen" ng-model="satTimeIn" placeholder="HH:mm:ss" style="margin-left: 15px">
							</div>
							<button type="submit" class="btn btn-xs btn-default shiftUpTen" style="top: -12px">Update</button>
						</div>
						<div class="row" style="padding-left: 15px">
							<div class="pull-left editDiv">
								<span class="shiftUpX">Out: </span><input required type="time" name="satTimeOut" class="form-control timePicker shiftUpX" ng-model="satTimeOut" placeholder="HH:mm:ss">
							</div>
							<button type="button" class="btn btn-xs btn-danger shiftUpX" ng-click="cancelEditSaturday()" style="top: -39px">Cancel</button>
						</div>
					</fieldset>
				</form>
			</div>
			<div data-ng-show="error6" class="text-center text-danger responseDiv">
				<strong data-ng-bind="error6" class="responseMsg"></strong>
			</div>
			<div data-ng-show="success6" class="text-center text-success responseDiv">
				<strong data-ng-bind="success6" class="responseMsg"></strong>
			</div>
		</div>
		<div class="row" style="padding-left: 15px">
			<div class="col-xs-2 col-sm-2 col-md-2 dateBoxDiv">
				<span class="dateBoxSpan">
					Sun<br>
					{{sunDate | date: 'MM/dd'}}
				</span>	
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 dayBarDiv" ng-show="!loggedInIsAdmin()">
				<span class="dayBarSpan">
					<strong>In:</strong>  {{sunIn | date: 'hh:mm:ss a'}}  <strong>Out:</strong>  {{sunOut | date: 'hh:mm:ss a'}}<br>
					Total:  {{sunTotal | millSecondsToTimeString}} 
				</span>
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 dayBarDiv adminDayBarDiv" ng-hide="sunEdit || !loggedInIsAdmin()" ng-click="editSunday()">
				<span class="dayBarSpan">
					<strong>In:</strong>  {{sunIn | date: 'hh:mm:ss a'}}  <strong>Out:</strong>  {{sunOut | date: 'hh:mm:ss a'}}<br>
					Total:  {{sunTotal | millSecondsToTimeString}} 
				</span>
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 dayBarDivEditing" ng-show="sunEdit">
				<form name="editSundayForm" data-ng-submit="editSundayTimes(editSundayForm.$valid)">
					<fieldset>
						<div class="row" style="padding-left: 15px">
							<div class="pull-left editDiv">
								<span class="shiftUpTen">In:</span><input required type="time" name="sunTimeIn" class="form-control timePicker shiftUpTen" ng-model="sunTimeIn" placeholder="HH:mm:ss" style="margin-left: 15px">
							</div>
							<button type="submit" class="btn btn-xs btn-default shiftUpTen" style="top: -12px">Update</button>
						</div>
						<div class="row" style="padding-left: 15px">
							<div class="pull-left editDiv">
								<span class="shiftUpX">Out: </span><input required type="time" name="sunTimeOut" class="form-control timePicker shiftUpX" ng-model="sunTimeOut" placeholder="HH:mm:ss">
							</div>
							<button type="button" class="btn btn-xs btn-danger shiftUpX" ng-click="cancelEditSunday()" style="top: -39px">Cancel</button>
						</div>
					</fieldset>
				</form>
			</div>
			<div data-ng-show="error7" class="text-center text-danger responseDiv">
				<strong data-ng-bind="error7" class="responseMsg"></strong>
			</div>
			<div data-ng-show="success7" class="text-center text-success responseDiv">
				<strong data-ng-bind="success7" class="responseMsg"></strong>
			</div>
		</div>
	</div>
		<!--TODO:  Add in datepicker support for changing the week
		<div class="" style="margin: 10px 0px 290px 0px; padding: 0px; width: 320px">
		    <h4>Popup</h4>
		    <div class="row" style="margin: 0px">
		        <div class="">
		            <p class="input-group">
		              <input type="text" class="form-control" datepicker-popup="'shortDate'" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
		              <span class="input-group-btn">
		                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		              </span>
		            </p>
		        </div>
		    </div>
		</div>-->
</section>