<section class="row" data-ng-controller="CheckinController" data-ng-init="extractUser(); findUsersChildren();">
	<h2 class="col-md-12 text-center">Welcome {{user.firstName}}</h2>
	<h3 class="col-md-12 text-center">Press the Button next to your child's name</h3>
	<h3 class="col-md-12 text-center">
		<div ng-controller='ClockController'>
	    	<p>{{ clock  | date:'medium'}}</p>
		</div>
	</h3>
	<div class="row">
		<div class="col-md-12">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="child in usersChildren">
					<div style = "font-size:20px;">
					{{child.firstName}} {{child.lastName}}
					</div>
					<span><button type="button" class="btn btn-success" ng-click="checkChildIn(child._id)" ng-disabled="child.isPunchedIn == true">Check In</button></span>
					<span><button type="button" class="btn btn-warning col-md-offset-3" ng-click="checkChildOut(child._id)" ng-disabled="child.isPunchedIn == false">Check Out</button></span>
					<span ng-show="child.isPunchedIn == true">{{child.firstName}} checked in at {{child.lastCheckIn | date: 'shortTime'}} </span>
					<!-- TODO:  Add in on back end a response that enables a success, so that a success message can be displayed 
						 TODO:  Change the button to take to a success page with X children checked in by Y, that then redirects to sign in-->
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<a href='#!/' class="btn btn-default" role="button">Done</a>
		</div>
	</div>
</section>