<section class="row" data-ng-controller="CheckinController" data-ng-init="extractUser(); findUsersChildren(); seedChildren()">
	<h2 class="col-md-12 text-center">Welcome {{user.firstName}}</h2>
	<h3 class="col-md-12 text-center">Press the Button next to your child's name</h3>
	<h3 class="col-md-12 text-center">
		<div ng-controller='ClockController'>
	    	<p>{{ clock  | date:'medium'}}</p>
		</div>
	</h3>
	<div class="row">
		<div class="col-md-12">
			<ul class="list-group">
				<li class="list-group-item" style = "font-size:18px;" ng-repeat="child in usersChildren">
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div>{{child.firstName}} {{child.lastName}}</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6">
							<span><button type="button" class="btn col-md-offset-1 btn-primary" ng-click="checkChildIn($index)" ng-disabled="inBtnControl(child)">Check In</button></span>
							<span><button type="button" class="btn btn-primary" ng-click="checkChildOut($index)" ng-disabled="!outBtnControl(child)">Check Out</button></span>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<span ng-show="child.dayCampMode == true && child.isPunchedIn == true && child.justCheckedIn == false" class="text-muted">{{child.firstName}} checked in at {{child.lastCheckIn | date: 'shortTime'}} </span>
							<span ng-show="child.dayCampMode == false" class="text-muted">{{child.firstName}} checked in at 3:15 PM</span>
							<span ng-show="justCheckedIn(child)" class="text-success"><strong>Child Checked In</strong></span>
							<span ng-show="justCheckedOut(child)" class="text-success"><strong>Child Checked Out</strong></span>
						</div>
					</div>

				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<a href='#!/checkin' class="btn btn-md btn-primary" role="button">Done</a>
		</div>
	</div>
</section>