<section class="row" data-ng-controller="CheckinController" data-ng-init="extractUser(); findUsersChildren(); seedChild()">
	<h2 class="col-md-12 text-center">Welcome {{user.firstName}}</h2>
	<h3 class="col-md-12 text-center">Press the Button next to your child's name</h3>
	<h3 class="col-md-12 text-center">
		<div ng-controller='ClockController'>
	    	<p>{{ clock  | date:'medium'}}</p>
		</div>
	</h3>
	<div class="row">
		<div class="col-md-12">
			<ul class="list-group">
				<li class="list-group-item" style = "font-size:18px;" ng-repeat="child in usersChildren">
				<!-- TODO:  Space this out such that the child's name length doesn't affect where the buttons are -->
					{{child.firstName}} {{child.lastName}}
					<span><button type="button" class="btn col-md-offset-1 btn-info" ng-click="checkChildIn(child._id)" ng-disabled="inBtnControl(child)">Check In</button></span>
					<span><button type="button" class="btn btn-info" ng-click="checkChildOut(child._id)" ng-disabled="!outBtnControl(child)">Check Out</button></span>
					<span ng-show="child.dayCampMode == true && child.isPunchedIn == true">{{child.firstName}} checked in at {{child.lastCheckIn | date: 'shortTime'}} </span>
					<span ng-show="child.dayCampMode == false">{{child.firstName}} checked in at 3:15 PM</span>
					<!--<span ng-show="inToOutTrue(child)">Child Checked In</span>
					 TODO:  Add in on back end a response that enables a success, so that a success message can be displayed 
						 TODO:  Change the button to take to a success page with X children checked in by Y, that then redirects to sign in
						 With back end returning child, check for something idk-->
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<a href='#!/checkin' class="btn btn-lg btn-primary" role="button">Done</a>
		</div>
	</div>
</section>