@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}
.childbut
{
	margin-top: 20px;
}
.userbut
{
	margin-top: 45px;
}

.marginEdit{
margin-top:65px;
}
label{
	font-size: 16px
}

/* ========================================
** Custom Styling
** ======================================== */

.userp{
	margin: 0px;
	color: #515151;
}

.editUserList{
	padding-bottom: 10px;
}

.userOp:hover{
	cursor: pointer;
}
body{

	background-color: aliceblue;
}
p{
	font-size: 16px;
}
.userp{
	font-size:20px; 
}
/* Media Queries */
/* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
		.sortByBar{
			margin-top: 0px;
		}
		.marginEdit{
			margin-top: 0px;
				}

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
		.sortByBar{
			margin-top: 0px;
		}
		.marginEdit{
			margin-top: 0px;
					}
		#labelMargin{
			margin-top:0px;
		}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
		.sortByBar{
			margin-top: 0px;
		}
		.marginEdit{
			margin-top:65px;
					}
		#labelMargin{
			margin-top:0px;
		}
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
		.sortByBar{
			margin-top: 30px;
			text-align: right;
		}
		.marginEdit{
			margin-top:65px;
					}
		#labelMargin{
			margin-top:0px;
		}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
    	.sortByBar{
			margin-top: 30px;
			text-align: right;
		}
		.marginEdit{
			margin-top:65px;
					}
		#labelMargin{
			margin-top:0px;
		}
		#sortByBar a:visited { 
		    background-color: yellow;
		}
    }