<section data-ng-controller="UsersController" data-ng-init="findAllUsers(); findAllChildren(); seedOrderBy()">
	<div class="container" ng-show="!loggedInIsEmployee">
		<h3 class="text-center text-danger"><strong>You do not have access to this page!</strong></h3>
		<h3 class="text-center text-danger"><strong>Please click <a href="/">here</a> to go home</strong></h3>
	</div>	    
	<tabset style="margin-top: 20px">
    	<tab heading="Manage Users">
	    		<div class="container" ng-show="loggedInIsEmployee()">
	    		<div class="row">
	    			<div class="col-xs-12 col-sm-6 col-md-6">
						<h3>Manage Users Dashboard</h3>
					</div>
					<div class="col-xs-12 col-md-6 sortByBar">
						<span>Sort Users by:  </span>
						<a href="" ng-click="setOrderByUsers('lastName')">Last Name</a><span> | </span>
						<a href="" ng-click="setOrderByUsers('roles')">Account Type</a><span> | </span>
						<a href="" ng-click="setOrderByUsers('-active')">Active Users</a>
					</div>
				</div>
				<div style="margin-top: 10px">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="user in users | orderBy: orderByUsers">
							<div class="row">
								<div class="col-xs-12 col-md-6 col-sm-6">
									<h4>
										<a data-ng-href="#!/users/{{user._id}}">
											{{user.firstName}} {{user.lastName}}
											<span ng-show="!isActive(user)" class="text-muted"> - Inactive User</span>
										</a>
									</h4>							
									<p class="userp" ng-show="isAdmin(user)" style="color: red"><strong>Admin Account</strong></p>
									<p class="userp" ng-show="isEmployee(user)" style="color: #00BFFF"><strong>Employee Account</strong></p>
									<p class="userp">PIN:  {{user.PIN}}</p>
									<p class="userp">Username:  {{user.username}}</p>
									<p class="userp">Email:  {{user.email}}</p>
									<p class="userp">Phone:  {{user.phone}}</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</tab>
    	<tab heading="Manage Children">
    			<div class="container" ng-show="loggedInIsEmployee()">
				<div class="row">
	    			<div class="col-xs-12 col-sm-6 col-md-6">
						<h3>Manage Children Dashboard</h3>
					</div>
					<div class="col-xs-12 col-md-6 col-sm-6 sortByBar">
						<span>Sort Children by:  </span>
						<a href="" ng-click="setOrderByChildren('lastName')">Last Name (A-Z)</a>
						<span> | </span>
						<a href="" ng-click="setOrderByChildren('-isPunchedIn')">Checked In</a>
					</div>
				</div>
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="child in children | orderBy: orderByChildren">
						<div class="row">
							<div class="col-xs-12 col-md-6 col-sm-6">
								<h4>
									<a data-ng-href="#!/children/{{child._id}}">
										{{child.firstName}} {{child.lastName}}
										<span ng-show="!parentIsActive(child)" class="text-muted"> - Inactive Parent</span>
									</a>
								</h4>
								<p class="userp" ng-show="isPunchedIn(child)" style="color: red"><strong>Checked In</strong></p>
								<p class="userp">DOB:  {{child.dob | date: 'mediumDate'}}</p>
								<p class="userp">Parent:  {{child.parentFirstName}} {{child.parentLastName}}</p>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3">
								<a data-ng-href="#!/children/{{child._id}}/edit" class="btn childbut btn-info btn-lg">Edit Child</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
    	</tab>
    	<tab heading="Manage Payment Plans">
    		TODO:  Talk to Kaitlin about payment plan's and how they should be set up and manipulated
    	</tab>
    </tabset>
</section>