#leftarrow{
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    max-width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 5px;
}
h4{
	font-size: 20px;
}
label{
	font-size: 16px
}
.arrowBox:hover{
	cursor: pointer;
}

.weekbar{
	border-style: solid;
	border-width: 1px 0px;
	border-color: black;
	padding: 4px;
	width: 256px;
	height: 32px;
	text-align: center;
}

#rightarrow{
	max-width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 5px;
}

.dateBoxDiv{
	padding: 0px;
	width: 64px;
	height: 80px;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: black;
	text-align: center;
	line-height: 80px;
}

.dateBoxSpan{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.dayBarDiv{
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	border-color: black;
	padding: 4px;
	width: 256px;
	height: 80px;
	text-align: center;
	line-height: 53px;
}

.adminDayBarDiv{
	cursor: pointer;
}

.dayBarDivEditing{
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	border-color: black;
	padding: 4px;
	width: 256px;
	height: 80px;
	text-align: center;
	line-height: 53px;
}

.dayBarSpan{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.timePicker{
	padding: 1px;
	width: 99px;
	height: 24px;
	display: inline-block;
}

.shiftUpTen{
	position: relative;
	top: -10px;
}

.shiftUpX{
	position: relative;
	top: -37px;
}

.editDiv{
	height: 24px;
}

/* Space out the In, Out, Update Cancel, a bit better.  Space out error message properly */
.responseDiv{
	height: 80px;
}

.responseMsg{
	position: relative;
	top: -21px;
	left: 20px;
}

.testCSSTop{
	padding: 5px 4px 4px 4px;
	width: 256px;
	height: 65px;
	line-height: 53px;
	margin-top: 0px; 
	width: 320px;
	position: relative;
	top: -449px;
	left: 324px;
}

.testCSS{
	padding: 4px 4px 4px 4px;
	width: 256px;
	height: 64px;
	line-height: 53px;
	margin-top: 0px; 
	width: 320px;
	position: relative;
	top: -449px;
	left: 324px;
}