<section class="row" data-ng-controller="SettingsController">
	<div class="row" style="margin-top: 30px">
			<div class="col-md-12 text-center">
				<h3>Edit your profile</h3>
			</div>
			<div class="col-md-offset-1 col-md-4">
				<form name="userForm1" data-ng-submit="updateGeneralInfo(userForm1.$valid)" class="signin form-horizontal" autocomplete="off">
					<fieldset>
						<div class="form-group">
							<label for="firstName">First Name</label>
							<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" ng-model-options="{ updateOn: 'blur' }" placeholder="First Name">
						</div>
						<div class="form-group">
							<label for="lastName">Last Name</label>
							<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" ng-model-options="{ updateOn: 'blur' }" placeholder="Last Name">
						</div>
						<div class="form-group">
							<label for="phone">Phone Number</label>
							<input type="text" id="phone" name="phone" class="form-control" data-ng-model="user.phone" ng-model-options="{ updateOn: 'blur' }" placeholder="Phone Number">
						</div>
						<div class="text-center form-group">
							<button type="submit" class="btn btn-large btn-primary">Save Profile</button>
						</div>
						<div data-ng-show="success1" class="text-center text-success">
							<strong>Profile Saved Successfully</strong>
						</div>
						<div data-ng-show="error1" class="text-center text-danger">
							<strong data-ng-bind="error"></strong><br>
						</div>
					</fieldset>
				</form>
			</div>

			<div class="col-md-offset-1 col-md-4">
				<!-- Username Editing -->
				<form name="userForm2" data-ng-submit="updateUsername(userForm2.$valid)" class="signin form-horizontal" autocomplete="off">
					<fieldset>
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" ng-model-options="{ updateOn: 'blur' }" placeholder="Username">
						</div>
						<div class="text-center form-group">
							<button type="submit" class="btn btn-large btn-primary">Save Username</button>
						</div>
						<div data-ng-show="success2" class="text-center text-success">
							<strong>Profile Saved Successfully</strong>
						</div>
						<div data-ng-show="error2" class="text-center text-danger">
							<strong>This username is already in use</strong><br>
						</div>
					</fieldset>
				</form>
				<!-- Email Editing -->
				<form name="userForm3" data-ng-submit="updateEmail(userForm3.$valid)" class="signin form-horizontal" autocomplete="off">
					<fieldset>
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" ng-model-options="{ updateOn: 'blur' }" placeholder="Email">
						</div>
						<div class="text-center form-group">
							<button type="submit" class="btn btn-large btn-primary">Save Email</button>
						</div>
						<div data-ng-show="success3" class="text-center text-success">
							<strong>Profile Saved Successfully</strong>
						</div>
						<div data-ng-show="error3" class="text-center text-danger">
							<strong>This email is already in use</strong><br>
						</div>
					</fieldset>
				</form>
				<!-- Email Editing -->
				<form name="userForm4" data-ng-submit="updatePIN(userForm4.$valid)" class="signin form-horizontal" autocomplete="off">
					<fieldset>
						<div class="form-group">
							<label for="PIN">PIN</label>
							<input type="text" id="PIN" name="PIN" class="form-control" data-ng-model="user.PIN" ng-model-options="{ updateOn: 'default' }" placeholder="PIN" ng-pattern="/^[0-9]{4,4}$/">
						</div>
						<div class="text-center form-group">
							<button type="submit" class="btn btn-large btn-primary">Save PIN</button>
						</div>
						<div role="alert" class="text-center">
							<span class="text-danger" ng-show="userForm4.PIN.$error.pattern"><strong>PIN must be Four numbers</strong></span>
						</div>
						<div data-ng-show="success4" class="text-center text-success">
							<strong>Profile Saved Successfully</strong>
						</div>
						<div data-ng-show="error4" class="text-center text-danger">
							<strong>This PIN is already in use</strong><br>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
</section>