<section data-ng-controller="UsersController" ng-init="seedBill(); findOneUser(); findThisUsersChildren(); buildBill()">
	<div class="container" ng-show="!authToViewBill()">
		<h3 class="text-center text-danger"><strong>You do not have access to this page!</strong></h3>
		<h3 class="text-center text-danger"><strong>Please click <a href="/#!/">here</a> to go home</strong></h3>
	</div>
	<div ng-show="authToViewBill()" class="col-md-12">
		<div class="row">
			<h3>Your Bill</h3>
			<div class="row" style="padding-left: 15px">
				<div class="col-xs-1 col-sm-1 col-md-1 arrowBox" style="padding: 0px; width: 32px; height: 32px" ng-click="backOneWeek()">
					<img src="modules/children/img/play128.svg" id="leftarrow">
				</div>
				<div class="col-xs-10 col-sm-10 col-md-10 weekbar">
						Week of {{weekOfDate | date: 'MM/dd/yy'}}
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1 arrowBox" style="padding: 0px; width: 32px; height: 32px" ng-click="forwardOneWeek()">
					<img src="modules/children/img/play128.svg" id="rightarrow">
				</div>
			</div>
		</div>
		<h3 style="margin-left: 100px">Bill:  {{usersBill | currency}}</h3>
		<div class="row" style="margin-top: 20px">
			<div class="col-md-4 col-sm-6 col-xs-12" style="padding: 0px">
				<h4>Review Time Stamps</h4>
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="child in usersChildren | filter: {rootChild: 'false'}">
						<div class="row">
							<div class="col-xs-12 col-md-6 col-sm-6 col-xs-6">
								<h4>
									<a data-ng-href="#!/children/{{child._id}}">
										{{child.firstName}} {{child.lastName}}
									</a>
								</h4>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>