<section data-ng-controller="UsersController" data-ng-init="findAllUsers(); findAllChildren()">
	<div class="container" ng-show="!loggedInIsAdmin()">
		<h3 class="text-center text-danger"><strong>You do not have access to this page!</strong></h3>
		<h3 class="text-center text-danger"><strong>Please click <a href="/">here</a> to go home</strong></h3>
	</div>
	<div>

	<uib-tabset vertical="true" type="pills">
	    <uib-tab heading="Vertical 1">Vertical content 1</uib-tab>
	    <uib-tab heading="Vertical 2">Vertical content 2</uib-tab>
	  </uib-tabset>
	    

	<div class="container" ng-show="loggedInIsAdmin()">
		<h3>Manage Users Dashboard</h3>
		<!-- 	TODO:	Add in a filter/sort by type thing to view clients and admins seperately
				TODO:	also seperate active and inactive users-->
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="user in users | orderBy: 'roles'">
				<div class="row">
					<div class="col-xs-6 col-md-6">
						<h4>
							<a data-ng-href="#!/users/{{user._id}}">
								{{user.firstName}} {{user.lastName}}
								<span ng-show="isActive(user)" class="text-muted"> - Active User</span>
								<span ng-show="!isActive(user)" class="text-muted"> - Inactive User</span>
							</a>
						</h4>							
						<p class="userp" ng-show="isAdmin(user)" style="color: red"><strong>Admin Account</strong></p>
						<!--<p class="userp" ng-show="!isAdmin(user)">User Account</	p>-->
						<p class="userp">PIN:  {{user.PIN}}</p>
						<p class="userp">Username:  {{user.username}}</p>
						<p class="userp">Email:  {{user.email}}</p>
						<p class="userp">Phone:  {{user.phone}}</p>
					</div>
					<div class="col-xs-6 col-md-6">
						<!-- TODO:  If this button gets restyled (it should) apply some formatted in view-user.client.view.html for children -->
						<a data-ng-href="#!/users/{{user._id}}/edit" class="list-group-item">Click Here to Edit this User</a>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="container" ng-show="loggedInIsAdmin()">
		<h3>Manage Children Dashboard</h3>
		<!-- 	TODO:	Add in a filter/sort by type thing to view clients and admins seperately
				TODO:	also seperate active and inactive users-->
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="child in children">
				<div class="row">
					<div class="col-xs-6 col-md-6">
						<h4>
							{{child.firstName}} {{child.lastName}}
						</h4>							
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>