<section data-ng-controller="UsersController" data-ng-init="findOneUser()">

<!--  TODO:  Style this page -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>{{user.firstName}} {{user.lastName}}'s Account</h3>
				<p class="userp">Account Type:  {{user.roles[0]}}</p>
				<p class="userp">PIN:  {{user.PIN}}</p>
				<p class="userp">Email:  {{user.email}}</p>
				<p class="userp">Phone:  {{user.phone}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div ng-show="isAdmin(user)" style="color:blue"><img src="modules/users/img/plus-sign1.svg" alt="admin" style="width: 30px"> Demote Admin to User</div>
				<div ng-show="!isCurrentUser(user)" style="color:red"><img src="modules/users/img/delete96.svg" alt="admin" style="width: 30px"> Delete User</div>
				<a ng-show="!isAdmin(user)" ng-click="test()" class="plus" title="Make Admin"><img src="modules/users/img/administrator1.svg" alt="admin" style="width: 30px"> Promote User to Admin</a>
			</div>
		</div>
	</div>
</section>